<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>

</head>
<body>
    <h1>Demo Reset password</h1>
    <hr>
    <h2>Hello,{{email}}</h2>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">password</label></b>
        </p>
        <p>
            <input type="password" name="password"
                placeholder="password" required></input>
        </p>
        <p style="color: gray;">password need to have 8 or more characters</p>
        <p>
            <b><label for="content">repeat password</label></b>
        </p>
        <p>
            <input type="password" name="repeat-password"
                placeholder="password" required></input>
        </p>

        <p style="color: red;">{{state}}</p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    <form action="./register">
        <button type="submit">Sign up</button>
     </form>

    </div>
</body>
</html>