<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>

</head>
<body>
    <h1>Demo Forget password</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">email</label></b>
        </p>
        <p>
            <input type="text" name="email"
                placeholder="email" required></input>
        </p>

        <p style="color: red;">{{state}}</p>
        <button type="submit">Send Email</button>
    </form>
    <hr>
    <form action="./loginpage">
        <button type="submit">Sign in</button>
     </form>

    </div>
</body>
</html>