<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link href="https://fonts.googleapis.com/css?family=Krona One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Goldman" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
    <link rel="stylesheet" href="static\signup.css">
</head>

<body>
    <div class="right_img">
        <img src="static\right_img.png" style="bottom: 0px;
        position: absolute; right:0px
    ">
    </div>
    <div class="left_img">
        <img src="static\left_img.png" style="bottom: 0px;
        position: absolute;
    ">
    </div>
    <div class="title">
        <div class="GPT">XXX</div>
        <div class="title_Line"></div>
    </div>
    <div class="content">
        <form method="post" class="form">
            <div class='inputbox'>
                <input type="text" name="username" placeholder="" required>
                <label for="content" class="inputbox_text">username</label>
            </div>

            <div class='inputbox'>
                <input type="text" name="email" placeholder="" required>
                <label for="content">email</label>
            </div>

            <div class='inputbox'>
                <input type="password" name="password" placeholder="" required>
                <label for="content">password</label>
            </div>


            <div class='inputbox'>
                <input type="password" name="repeat-password" placeholder="" required>
                <label for="content">re-password</label>
                <span class="Limt">密碼需超過8個字元</span>
            </div>



            <div>
                <p style="color: red;">{{state}}</p>
                <p style="color: green;">{{success}}
                    <button type="submit" class='submit submit_text'>Submit</button>
            </div>

            <div class='already_have_ac_login'>
                <label class='already_have_ac'>Already have an account?</label>
                <a href='./loginpage' class='login_link'>Login</a>
            </div>
            
        </form>



    </div>

    <div class="CourseraRecaptchaEnterpriseGoogle"><span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; word-wrap: break-word">我接受Coursera 的 </span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; text-decoration: underline; word-wrap: break-word">使用條款</span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; word-wrap: break-word"> 和 </span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; text-decoration: underline; word-wrap: break-word">隱私聲明</span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; word-wrap: break-word">。登錄時遇到問題？
        </span><span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; text-decoration: underline; word-wrap: break-word">學生幫助中心<br /></span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; word-wrap: break-word">本網站受reCAPTCHA Enterprise 的保護，並需要遵守 Google </span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; text-decoration: underline; word-wrap: break-word">隱私政策</span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; word-wrap: break-word"> 和</span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; text-decoration: underline; word-wrap: break-word">服務條款</span>
        <span style="color: #15425B; font-size: 16px; font-family: Krona One; font-weight: 400; word-wrap: break-word">。</span>
    </div>
</body>

</html>