<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Demo Login in</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">username</label></b>
        </p>
        <p>
            <input type="text" name="username"
                placeholder="username"></input>
        </p>

        <p>
            <b><label for="content">password</label></b>
        </p>
        <p>
            <input type="password" name="password"
                placeholder="password"></input>
        </p>


        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>