<div class="Email" style="width: 556px; height: 82px; position: relative">
  <div class="Rectangle2" style="width: 556px; height: 62px; left: 0px; top: 20px; position: absolute; border-radius: 10px; border: 1px #155265 solid"></div>
  <div class="Group1" style="width: 148px; height: 37px; left: 25px; top: 0px; position: absolute">
    <div class="Rectangle7" style="width: 148px; height: 37px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div class="Email" style="width: 140px; height: 25px; left: 8px; top: 8px; position: absolute; color: #155265; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Email address</div>
  </div>
  <Input class="Input" style="width: 509px; height: 36px; left: 23px; top: 34px; position: absolute; background: #D9D9D9">
</div>